<% @title = "Admin Page" %>

<form action="/add_question" method="POST">
  <table>
    <tr>
      <td>
        <label for="category">Category:</label>
      <td>
        <input type="text" name="category" id="category">
    </tr>

    <tr>
      <td>
        <label for="value">Value:</label>
      <td>
        <input type="text" name="value" id="value">
    </tr>

    <tr>
      <td>
        <label for="answer">Answer:</label>
      <td>
        <input type="text" name="answer" size="50" id="answer"><br>
    </tr>

    <tr>
      <td>
        <label for="question">Question:</label>
      <td>
        <input type="text" name="question" size="50" id="question"><br>
    </tr>

    <tr>
      <td><input type="submit" value="Add">
    </tr>
  </table>
</form>