<% @title = "Admin Page" %>

<form action="/add_question" method="POST">
<table>
  <tr class="admin">
  <td>Existing Categories:
  <td><% @existing_categories.each do |category| %>
  <%= category.capitalize %>
  <% end %>
  </tr>

  <tr class="admin">
  <td><label for="category">Category:</label>
  <td><input type="text" name="category" id="category" required>
  </tr>

  <tr class="admin">
  <td><label for="value">Value:</label>
  <td><select name="value" id="value">
      <option value="200">200</option>
      <option value="400">400</option>
      <option value="600">600</option>
      <option value="800">800</option>
      <option value="1000">1000</option>
      </select>
  </tr>

  <tr class="admin">
  <td><label for="answer">Answer:</label>
  <td><input type="text" name="answer" size="30" id="answer" required>
  </tr>

  <tr class="admin">
  <td><label for="question">Question:</label>
  <td><input type="text" name="question" size="30" id="question" required>
  </tr>
  
  <tr class="admin">
  <td>
  <td><input type="submit" value="Add">
  </table>
</form>

<footer>
<a href="/reset">View Board</a>
</footer>