<% @title = "Admin Page" %>

<form action="/add_question" method="POST">
  <label for="category">Category:</label>
  <input type="text" name="category" id="category"><br>
  
  <label for="value">Value:</label>
  <input type="text" name="value" id="value"><br>
  
  <label for="answer">Answer:</label>
  <input type="text" name="answer" id="answer"><br>
  
  <label for="question">Question:</label>
  <input type="text" name="question" id="question"><br>

  <input type="submit" value="Add">
</form>