<% @title  = "Jepar-B" %>
<% @values = ["200", "400", "600", "800", "1000"] %>

<table class="game_board">

  <tr class="game_board">
    <% @board.list_categories.each do |category| %>
    <th class="game_board"><%= category.capitalize %></th>
    <% end %>
  </tr>
  
  <% @values.each do |value| %>
    <tr class="game_board">
      <% @board.list_categories.each do |category| %>
        <% if @board[category][value] %>
          <td class="game_board"><a href="/answer/<%=category%>/<%=value%>"><%= value %></a></td>
        <% else %>
          <td class="game_board"></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  
</table>

<footer>
<a href="/reset">Reset</a>
</footer>