a
{
    color:white;
}
body
{
    background-color:black;
    color:white;
    text-align:center;
}
table
{
    background-color:black;
}
th, td
{
    border:1px solid grey;
    height:50px;
    width:200px;
    text-align:center;
    background-color:blue;
    color:white;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    border-radius:10px;
}
footer
{
    text-align:left;
}